{% extends 'base.html' %}
{% block content %}

<div class="card">
  <div class="card-header">
    {{ opp_record.opp_name }}
  </div>
  <div class="card-body">
    <p class="card-text">
        <strong>Account Name: </strong>{{ opp_record.account_name }} </p>
    <p class="card-text">
        <strong>Opportunity Owner: </strong>{{ opp_record.opp_owner }} </p>
    <p class="card-text">
        <strong>Stage: </strong>{{ opp_record.stage }} </p>
    <p class="card-text">
        <strong>Created Date: </strong>{{ opp_record.created_at }} </p>
    <p class="card-text">
        <strong>Quote Amount: </strong>{{ opp_record.quote_amount }} </p>
    <p class="card-text">
        <strong>Profit: </strong>{{ opp_record.profit }} </p>
    <p class="card-text">
        <strong>Opportunity ID: </strong>{{ opp_record.id }} </p>
  </div>
</div>

<br><br>

<a href="{% url 'opportunities' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'delete_record' opp_record.id %}" class="btn btn-danger">DELETE</a>

<a href="{% url 'update_record' opp_record.id %}" class="btn btn-secondary">EDIT</a>

{% endblock %}