{% extends 'base.html' %}
{% block content %}

<h1>Products</h1>

<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Sell Price</th>
        <th scope="col">Cost Price</th>
        <th scope="col">Product Type</th>
        <th scope="col">Created</th>
        <th scope="col">Id</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          {% if products %}
              {% for product in products %}
                  <tr>
                      <td>{{ product.product_name }}</td>
                      <td>{{ product.sell_price }}</td>
                      <td>{{ product.cost_price }}</td>
                      <td>{{ product.product_type }}</td>
                      <td>{{ product.created_at }}</td>
                      <td>{{ product.id }}</td>
                  </tr>
      {% endfor %}
      {% endif %}

      </tr>
    </tbody>
  </table>


{% endblock %}